<!DOCTYPE html>
<html>
  <head>
    <title>Tasker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create Task</h1>
    <a class="btn btn-primary btn-md" href="/create" role="button">New Task</a>
  </body>
</html>
